section.s-block.s-block--fixed-banner.wide-placeholder, section.s-block.s-block--fixed-banner.wide-placeholder * {
    padding: unset !important;
    max-width: unset !important;
    margin: unset;
}

div#mainnav {
    background: #1952ea !important;
}

div#mainnav * {
    color: #ffff !important;
    border: unset;
}

.top-navbar {
    display: none;
}

.s-product-card-image img.loaded {
    background: #fff;
}
